

#**Endpoints  De API**

In [1]:
!pip install fastapi

Collecting fastapi
  Downloading fastapi-0.100.0-py3-none-any.whl (65 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.7/65.7 kB 6.2 MB/s eta 0:00:00
Requirement already satisfied: pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,<3.0.0,>=1.7.4 in /usr/local/lib/python3.10/dist-packages (from fastapi) (1.10.9)
Collecting starlette<0.28.0,>=0.27.0 (from fastapi)
  Downloading starlette-0.27.0-py3-none-any.whl (66 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 67.0/67.0 kB 7.5 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.5.0 in /usr/local/lib/python3.10/dist-packages (from fastapi) (4.6.3)
Requirement already satisfied: anyio<5,>=3.4.0 in /usr/local/lib/python3.10/dist-packages (from starlette<0.28.0,>=0.27.0->fastapi) (3.7.0)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3.4.0->starlette<0.28.0,>=0.27.0->fastapi) (3.4)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3.4.0->starlette<0.28.0,>=0.27.0->fastapi) (1.3.0)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3.4.0->starlette<0.28.0,>=0.27.0->fastapi) (1.1.1)
Installing collected packages: starlette, fastapi
Successfully installed fastapi-0.100.0 starlette-0.27.0

In [2]:
!pip install uvicorn

Collecting uvicorn
  Downloading uvicorn-0.22.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 5.7 MB/s eta 0:00:00
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.10/dist-packages (from uvicorn) (8.1.3)
Collecting h11>=0.8 (from uvicorn)
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 6.0 MB/s eta 0:00:00
Installing collected packages: h11, uvicorn
Successfully installed h11-0.14.0 uvicorn-0.22.0

In [3]:
!pip install SQLAlchemy==1.4.17

Collecting SQLAlchemy==1.4.17
  Downloading SQLAlchemy-1.4.17.tar.gz (7.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.6/7.6 MB 62.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.17) (2.0.2)
Building wheels for collected packages: SQLAlchemy
  Building wheel for SQLAlchemy (setup.py) ... done
  Created wheel for SQLAlchemy: filename=SQLAlchemy-1.4.17-cp310-cp310-linux_x86_64.whl size=1535520 sha256=2e52a63b172d1d80c5d0f1e82b5dbcd425f89e1f63b1817748b22abff3821382
  Stored in directory: /root/.cache/pip/wheels/eb/d0/1e/ab0fcbac6f74a69b788a37fccd365fc67535b5ab79f97bd860
Successfully built SQLAlchemy
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.16
    Uninstalling SQLAlchemy-2.0.16:
      Successfully uninstalled SQLAlchemy-2.0.16
Successfully installed SQLAlchemy-1.4.17

##EXTRACCION Y CARGA DE DATOS

In [4]:
import pandas as pd
import numpy as np

import os

from datetime import datetime
from fastapi import FastAPI, HTTPException
from datetime import datetime

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/csv_12/ETL_pi_movies.csv")

df.head(3)

<ipython-input-6-663aa58da5c8>:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/csv_12/ETL_pi_movies.csv")

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,1995,0
1,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45379 entries, 0 to 45378
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45379 non-null  float64
 2   genres                 45379 non-null  object
 3   id                     45379 non-null  object
 4   original_language      45368 non-null  object
 5   overview               44438 non-null  object
 6   popularity             45377 non-null  object
 7   production_companies   45379 non-null  object
 8   production_countries   45379 non-null  object
 9   release_date           45379 non-null  object
 10  revenue                45379 non-null  float64
 11  runtime                45130 non-null  float64
 12  spoken_languages       45376 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  float64
 17  vote_count             45376 non-null  float64
 18  release_year           45379 non-null  int64
 19  return                 45379 non-null  int64
dtypes: float64(5), int64(2), object(13)
memory usage: 6.9+ MB

In [8]:
df["release_date"] =  pd.to_datetime(df["release_date"], format="%Y-%m-%d")

In [9]:
df2=df.copy()

In [10]:
#a eliminar
df2.drop(['genres','overview','popularity','spoken_languages','status','tagline'], axis = 'columns', inplace=True)

In [11]:
df2.head(4)

,belongs_to_collection,budget,id,original_language,production_companies,production_countries,release_date,revenue,runtime,title,vote_average,vote_count,release_year,return
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,862,en,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,Toy Story,7.7,5415.0,1995,0
1,NaN,65000000.0,8844,en,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,Jumanji,6.9,2413.0,1995,0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,15602,en,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,Grumpier Old Men,6.5,92.0,1995,0
3,NaN,16000000.0,31357,en,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,Waiting to Exhale,6.1,34.0,1995,0

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45379 entries, 0 to 45378
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45379 non-null  float64
 2   id                     45379 non-null  object
 3   original_language      45368 non-null  object
 4   production_companies   45379 non-null  object
 5   production_countries   45379 non-null  object
 6   release_date           45379 non-null  datetime64[ns]
 7   revenue                45379 non-null  float64
 8   runtime                45130 non-null  float64
 9   title                  45376 non-null  object
 10  vote_average           45376 non-null  float64
 11  vote_count             45376 non-null  float64
 12  release_year           45379 non-null  int64
 13  return                 45379 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(2), object(6)
memory usage: 4.8+ MB

In [13]:
df2["release_year"]=df2["release_year"].astype('string')

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45379 entries, 0 to 45378
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45379 non-null  float64
 2   id                     45379 non-null  object
 3   original_language      45368 non-null  object
 4   production_companies   45379 non-null  object
 5   production_countries   45379 non-null  object
 6   release_date           45379 non-null  datetime64[ns]
 7   revenue                45379 non-null  float64
 8   runtime                45130 non-null  float64
 9   title                  45376 non-null  object
 10  vote_average           45376 non-null  float64
 11  vote_count             45376 non-null  float64
 12  release_year           45379 non-null  string
 13  return                 45379 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(1), object(6), string(1)
memory usage: 4.8+ MB

In [15]:
#Posible elemento a borrar
#dffr.drop([19714], axis=0, inplace=True)
#dffr.iloc[19714]

In [16]:
#Error en datos no corresponde  una pelicula titulada o franquisia
#dffr.iloc[45378]#  sera igual al dataframe inicial   df.iloc[19714]
#por lo cual se reemplazo con el nombre sub franquicia se encontro el
# valor NaN en los tre ultimas filas por ello requirio reemplazar 3*

In [17]:
df2.to_csv('movies_api_12.csv', index=False)

## **Endpoint :  peliculas_idioma(Idioma)**

In [18]:
df2["original_language"].head(-10)

0        en
1        en
2        en
3        en
4        en
         ..
45364    fr
45365    fr
45366    en
45367    hi
45368    en
Name: original_language, Length: 45369, dtype: object

In [19]:
ds_i=df2["original_language"].value_counts()
ds_i

en       32202
fr        2437
it        1528
ja        1349
de        1078
         ...
zu           1
qu           1
104.0        1
la           1
si           1
Name: original_language, Length: 92, dtype: int64

In [20]:
#ds_i=df.original_language.value_counts()
ds_i[ds_i.index=="en"]

en    32202
Name: original_language, dtype: int64

In [21]:
df2.original_language.unique()

array(['en', 'fr', 'zh', 'it', 'fa', 'nl', 'de', 'cn', 'ar', 'es', 'ru',
       'sv', 'ja', 'ko', 'sr', 'bn', 'he', 'pt', 'wo', 'ro', 'hu', 'cy',
       'vi', 'cs', 'da', 'no', 'nb', 'pl', 'el', 'sh', 'xx', 'mk', 'bo',
       'ca', 'fi', 'th', 'sk', 'bs', 'hi', 'tr', 'is', 'ps', 'ab', 'eo',
       'ka', 'mn', 'bm', 'zu', 'uk', 'af', 'la', 'et', 'ku', 'fy', 'lv',
       'ta', 'sl', 'tl', 'ur', 'rw', 'id', 'bg', 'mr', 'lt', 'kk', 'ms',
       'sq', nan, '104.0', 'qu', 'te', 'am', 'jv', 'tg', 'ml', 'hr', 'lo',
       'ay', 'kn', 'eu', 'ne', 'pa', 'ky', 'gl', '68.0', 'uz', 'sm', 'mt',
       '82.0', 'hy', 'iu', 'lb', 'si'], dtype=object)

In [22]:
def peliculas_idioma( Idioma: str ):
 # ds_i=df2.original_language.value_counts()
 # print("lenguajes disponibles",df2.original_language.unique())
  ds_i=df2["original_language"].value_counts()
  cant=0
  if Idioma in ds_i.index:
      cant=ds_i[ds_i.index==Idioma]
      return {'Cantidad de pelicula que fueron estrenadas':cant[0],' en el Idioma':Idioma}
  else:
      return ("Ingreso incorrecto, recuerde escribir todo en minúsculas.")

In [23]:
#funcion para api tiene encuenta opciones
def peliculas_idioma( Idioma: str ):
  #debe ingresar la abreiatura de idioma ya que estan en una misma denominacion del alfabeto
  cant=0
  for i in range (len(df2["original_language"])):
      if Idioma == df2['original_language'][i]:
          cant=cant +1
  if cant==0:
      return ("Ingreso incorrecto, recuerde escribir todo en minúsculas.")
  else:
      return {'Cantidad de pelicula que fueron estrenadas':cant,' en el Idioma':Idioma}

In [24]:
#"cantidad_filmaciones_mes(11)
peliculas_idioma('en')

{'Cantidad de pelicula que fueron estrenadas': 32202, ' en el Idioma': 'en'}

## Endpoint : pelicula_duracion(Pelicula)

In [25]:
def peliculas_duracion( Pelicula: str ):
#Se ingresa una pelicula. Debe devolver la la duracion y el año.

  for i in range(len(df2["title"])):
      cop=(df2["title"][i])
      if (Pelicula)==cop:
          anio=str(df2["release_year"][i])
          duracion=str(df2["runtime"][i])
          return{' Titulo de la pelicula':Pelicula,' Duracion':duracion,' Año de estreno':anio}

In [26]:
peliculas_duracion('Jumanji')

{' Titulo de la pelicula': 'Jumanji',
 ' Duracion': '104.0',
 ' Año de estreno': '1995'}

## **Endpoint : def franquicia(Franquicia)**

In [27]:
h=df2.belongs_to_collection.value_counts()
h
#h[0]

{'id': 415931, 'name': 'The Bowery Boys', 'poster_path': '/q6sA4bzMT9cK7EEmXYwt7PNrL5h.jpg', 'backdrop_path': '/foe3kuiJmg5AklhtD3skWbaTMf2.jpg'}                 29
{'id': 421566, 'name': 'Totò Collection', 'poster_path': '/4ayJsjC3djGwU9eCWUokdBWvdLC.jpg', 'backdrop_path': '/jaUuprubvAxXLAY5hUfrNjxccUh.jpg'}                 27
{'id': 645, 'name': 'James Bond Collection', 'poster_path': '/HORpg5CSkmeQlAolx3bKMrKgfi.jpg', 'backdrop_path': '/6VcVl48kNKvdXOZfJPdarlUGOsk.jpg'}               26
{'id': 96887, 'name': 'Zatôichi: The Blind Swordsman', 'poster_path': '/8Q31DAtmFJjhFTwQGXghBUCgWK2.jpg', 'backdrop_path': '/bY8gLImMR5Pr9PaG3ZpobfaAQ8N.jpg'}    26
{'id': 37261, 'name': 'The Carry On Collection', 'poster_path': '/2P0HNrYgKDvirV8RCdT1rBSJdbJ.jpg', 'backdrop_path': '/38tF1LJN7ULeZAuAfP7beaPMfcl.jpg'}          25
                                                                                                                                                                  ..
{'id': 456580, 'name': 'No Good Middle-Aged Yakuza Trilogy', 'poster_path': None, 'backdrop_path': None}                                                           1
{'id': 385650, 'name': 'The Spiritual Boxer Collection', 'poster_path': None, 'backdrop_path': None}                                                               1
{'id': 415799, 'name': 'East Side Kids', 'poster_path': None, 'backdrop_path': None}                                                                               1
{'id': 285879, 'name': 'Seed Collection', 'poster_path': '/AvwruMfjbfydS9156uzq8gBZ4XN.jpg', 'backdrop_path': None}                                                1
{'id': 200641, 'name': 'Red Lotus Collection', 'poster_path': '/yf9Eod9ANXyHTzDpAxz9ezgvlL4.jpg', 'backdrop_path': '/3fhHbLeO3DqdHvgHg5szs399eBb.jpg'}             1
Name: belongs_to_collection, Length: 1698, dtype: int64

In [28]:
df2[df2.belongs_to_collection.isnull()]

,belongs_to_collection,budget,id,original_language,production_companies,production_countries,release_date,revenue,runtime,title,vote_average,vote_count,release_year,return
1,NaN,65000000.0,8844,en,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,Jumanji,6.9,2413.0,1995,0
3,NaN,16000000.0,31357,en,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,Waiting to Exhale,6.1,34.0,1995,0
5,NaN,60000000.0,949,en,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,187436818.0,170.0,Heat,7.7,1886.0,1995,0
6,NaN,58000000.0,11860,en,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...",1995-12-15,0.0,127.0,Sabrina,6.2,141.0,1995,0
7,NaN,0.0,45325,en,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,97.0,Tom and Huck,5.4,45.0,1995,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45374,NaN,0.0,30840,en,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,0.0,104.0,Robin Hood,5.7,26.0,1991,0
45375,NaN,0.0,111109,tl,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,Century of Birthing,9.0,3.0,2011,0
45376,NaN,0.0,67758,en,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,Betrayal,3.8,6.0,2003,0
45377,NaN,0.0,227506,en,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,Satan Triumphant,0.0,0.0,1917,0
45378,NaN,0.0,461257,en,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,Queerama,0.0,0.0,2017,0

In [29]:
df2.belongs_to_collection[0]

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [30]:
df2[df2.belongs_to_collection=="{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"]

,belongs_to_collection,budget,id,original_language,production_companies,production_countries,release_date,revenue,runtime,title,vote_average,vote_count,release_year,return
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,862,en,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,3.735540e+08,81.0,Toy Story,7.7,5415.0,1995,0
2995,"{'id': 10194, 'name': 'Toy Story Collection', ...",90000000.0,863,en,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1999-10-30,4.973669e+08,92.0,Toy Story 2,7.3,3914.0,1999,0
15341,"{'id': 10194, 'name': 'Toy Story Collection', ...",200000000.0,10193,en,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...","[{'iso_3166_1': 'US', 'name': 'United States o...",2010-06-16,1.066970e+09,103.0,Toy Story 3,7.6,4710.0,2010,0

In [31]:
type(df2.belongs_to_collection[0])

str

luego de analizar la estructura y el tipo de la columna belong_to_collection ,extraigo la informacion requerida

In [32]:
df2.belongs_to_collection=df2.belongs_to_collection.astype('str', errors='raise')

In [33]:
import ast
# inicialiso diccionario
dictionary={}
li=[]

for i in range(len(df)):

    if  df2.belongs_to_collection[i]!='nan':
      # string a diccionario
        dictionary = ast.literal_eval(df2.belongs_to_collection[i])
        #evito los valores nulos comparandolo como  un tipo de dato distinto
        if type(dictionary) !=float:
            li.append(dictionary["name"])
            #imprime los valores ,permite visualizacion progreso
            #print(dictionary["name"])
    else:
        li.append("sin_franquicia")
df2["Franquicia_P"]=pd.Series(li)

#dfc.Franquicia_P.fillna('sin_franquicia',inplace=True)

In [34]:
df2.Franquicia_P.isnull()

0        False
1        False
2        False
3        False
4        False
         ...
45374    False
45375    False
45376     True
45377     True
45378     True
Name: Franquicia_P, Length: 45379, dtype: bool

In [35]:
df2.Franquicia_P.fillna('sin_franquicia',inplace=True)

In [36]:
df2.Franquicia_P.isnull()

0        False
1        False
2        False
3        False
4        False
         ...
45374    False
45375    False
45376    False
45377    False
45378    False
Name: Franquicia_P, Length: 45379, dtype: bool

In [37]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45379 entries, 0 to 45378
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  45379 non-null  object
 1   budget                 45379 non-null  float64
 2   id                     45379 non-null  object
 3   original_language      45368 non-null  object
 4   production_companies   45379 non-null  object
 5   production_countries   45379 non-null  object
 6   release_date           45379 non-null  datetime64[ns]
 7   revenue                45379 non-null  float64
 8   runtime                45130 non-null  float64
 9   title                  45376 non-null  object
 10  vote_average           45376 non-null  float64
 11  vote_count             45376 non-null  float64
 12  release_year           45379 non-null  string
 13  return                 45379 non-null  int64
 14  Franquicia_P           45379 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(1), object(7), string(1)
memory usage: 5.2+ MB

In [38]:
df2.Franquicia_P.value_counts()

sin_franquicia                   40891
The Bowery Boys                     29
Totò Collection                     27
James Bond Collection               26
Zatôichi: The Blind Swordsman       26
                                 ...
Glass Tiger collection               1
Kathleen Madigan Collection          1
The Big Bottom Box                   1
Joséphine - Saga                     1
Red Lotus Collection                 1
Name: Franquicia_P, Length: 1696, dtype: int64

In [39]:
def franquicia( Franquicia:str ):
  ganancia=0
  cant=0
  for i  in range(len(df2)):
      if df2.Franquicia_P[i]==Franquicia:
          cant=cant+1
          ganancia=ganancia+df2.revenue[i]
  if cant==0:
      return{'Ingreso incorrecto,recuerde escribir todo en minusculas'}
  else:
      return{'La franquicia':Franquicia, 'posee  peliculas':cant, 'una ganancia total de': ganancia,' y una ganancia promedio de':ganancia/cant}

In [40]:
franquicia("Toy Story Collection")

{'La franquicia': 'Toy Story Collection',
 'posee  peliculas': 3,
 'una ganancia total de': 1937890605.0,
 ' y una ganancia promedio de': 645963535.0}

In [41]:
#Verifico lo resultados de la api
df2[df2.Franquicia_P=="Toy Story Collection"].title

0          Toy Story
2995     Toy Story 2
15341    Toy Story 3
Name: title, dtype: object

## **Endpoint : def peliculas_pais( Pais)**

In [42]:
df2.production_countries[1]

"[{'iso_3166_1': 'US', 'name': 'United States of America'}]"

In [43]:
df2.production_countries=df2.production_countries.astype('str', errors='raise')

In [44]:
df2.production_countries.value_counts()

[{'iso_3166_1': 'US', 'name': 'United States of America'}]                                                                                                          17846
[]                                                                                                                                                                   6211
[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]                                                                                                                     2235
[{'iso_3166_1': 'FR', 'name': 'France'}]                                                                                                                             1653
[{'iso_3166_1': 'JP', 'name': 'Japan'}]                                                                                                                              1356
                                                                                                                                                                    ...
[{'iso_3166_1': 'AU', 'name': 'Australia'}, {'iso_3166_1': 'ZA', 'name': 'South Africa'}]                                                                               1
[{'iso_3166_1': 'RO', 'name': 'Romania'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'CA', 'name': 'Canada'}]                                       1
[{'iso_3166_1': 'FI', 'name': 'Finland'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'NL', 'name': 'Netherlands'}]                                         1
[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'DK', 'name': 'Denmark'}, {'iso_3166_1': 'ES', 'name': 'Spain'}, {'iso_3166_1': 'SE', 'name': 'Sweden'}]        1
[{'iso_3166_1': 'EG', 'name': 'Egypt'}, {'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]                                1
Name: production_countries, Length: 2392, dtype: int64

In [45]:
import ast
# initialising string dictionary
dictionary={}
lit=[]
lista=[]
err=[]
for i in range(len(df2)):
    string = df2.production_countries[i]
    if string=='[]':
         lista.append('sin_informacion')
    else:
        lit=[]
        if  df2.production_countries[i]!='nan':
            #caracteres a eliminar
            characters = "[]"

            for x in range(len(characters)):
                string = string.replace(characters[x],"")
            #evaluo la cadena resultante
            dictionary = ast.literal_eval(string)
            #asigno tratamiento segun tipo
            if type(dictionary)==tuple:
                for y in dictionary:
                    yy=str(y)
                    di=ast.literal_eval(yy)
                    lit.append(di["name"])
                lista.append(lit)
            elif type(dictionary)==dict :
                lista.append(dictionary["name"])
            else:
                #busqueda discrepancias y errores
                err.append(i)
                lista.append("sin_informacion")

        else:
            lista.append("sin_informacion")
##########print('errores:',err)
df2["paises"]=pd.Series(lista)

In [46]:
# errores posiciones: [19714, 29472, 35543]
 #dffr.production_countries[]
df2.iloc[35543]# valores a eliminar

belongs_to_collection               2.185485
budget                                   0.0
id                                2014-01-01
original_language                       82.0
production_companies                   False
production_countries                     4.3
release_date             2000-01-01 00:00:00
revenue                                  0.0
runtime                                  NaN
title                                    NaN
vote_average                             NaN
vote_count                               NaN
release_year                            2000
return                                     0
Franquicia_P                  sin_franquicia
paises                       sin_informacion
Name: 35543, dtype: object

In [47]:
df2[df2.paises.isnull()]

Empty DataFrame
Columns: [belongs_to_collection, budget, id, original_language, production_companies, production_countries, release_date, revenue, runtime, title, vote_average, vote_count, release_year, return, Franquicia_P, paises]
Index: []

In [48]:
df2.paises.value_counts()

United States of America                      17846
sin_informacion                                6214
United Kingdom                                 2235
France                                         1653
Japan                                          1356
                                              ...
[Romania, United Kingdom, Canada]                 1
[Finland, Germany, Netherlands]                   1
[France, Denmark, Spain, Sweden]                  1
[France, United States of America, Canada]        1
[Egypt, Italy, United States of America]          1
Name: paises, Length: 2389, dtype: int64

In [49]:
# errores: [19714, 29472, 35543]
 #dffr.production_countries[]
df2.iloc[35543]

belongs_to_collection               2.185485
budget                                   0.0
id                                2014-01-01
original_language                       82.0
production_companies                   False
production_countries                     4.3
release_date             2000-01-01 00:00:00
revenue                                  0.0
runtime                                  NaN
title                                    NaN
vote_average                             NaN
vote_count                               NaN
release_year                            2000
return                                     0
Franquicia_P                  sin_franquicia
paises                       sin_informacion
Name: 35543, dtype: object

In [50]:
def peliculas_pais( Pais: str ):
# Se ingresa un país (como están escritos en el dataset, no hay que
# traducirlos!), retornando la cantidad de peliculas producidas en el mismo.
#                   Ejemplo de retorno: Se produjeron X películas en el país X

  cant=0
  for i  in range(len(df2.paises)):

      if type(df2.paises[i])==list:
          for j in df2.paises[i]:
              #print(dffr.paises[i])
              #print(j)
              if j==Pais:
                  cant=cant+1
      else:
          if df2.paises[i]==Pais:
              cant=cant+1

  if cant==0:
      print('Ingreso incorrecto,recuerde escribir todo en minusculas')
  return{'Se produjeron ':cant,' películas en el país ':Pais}

In [51]:
peliculas_pais('United States of America')

{'Se produjeron ': 21147, ' películas en el país ': 'United States of America'}

## **Endpoint  : productoras_exitosas(Productora)**

In [52]:
df2.production_companies.value_counts()

[]                                                                                                                      11796
[{'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8411}]                                                                       742
[{'name': 'Warner Bros.', 'id': 6194}]                                                                                    540
[{'name': 'Paramount Pictures', 'id': 4}]                                                                                 505
[{'name': 'Twentieth Century Fox Film Corporation', 'id': 306}]                                                           439
                                                                                                                        ...
[{'name': 'M.K.D. Films Combine', 'id': 28518}]                                                                             1
[{'name': 'Circle Films', 'id': 11273}, {'name': 'DuArt', 'id': 20049}, {'name': 'Anyway Productions', 'id': 40240}]        1
[{'name': 'Crown-Hausman', 'id': 73471}]                                                                                    1
[{'name': 'Miracin Korea Film Company', 'id': 6597}]                                                                        1
[{'name': 'Yermoliev', 'id': 88753}]                                                                                        1
Name: production_companies, Length: 22704, dtype: int64

In [53]:
df2.production_companies[1]

"[{'name': 'TriStar Pictures', 'id': 559}, {'name': 'Teitler Film', 'id': 2550}, {'name': 'Interscope Communications', 'id': 10201}]"

Luego de analizar la columna production _companies extraigo la informacion requerida

In [54]:
import ast
# initialising string dictionary
dictionary={}
lit=[]
lista=[]
err=[]
for i in range(len(df2)):
    string = df2.production_companies[i]
    if string=='[]':
         lista.append('sin_informacion')
    else:
        lit=[]
        if  df2.production_companies[i]!='nan':
            #caracteres a eliminar
            characters = "[]"

            for x in range(len(characters)):
                string = string.replace(characters[x],"")
            #evaluo la cadena resultante
            dictionary = ast.literal_eval(string)
            #asigno tratamiento segun tipo
            if type(dictionary)==tuple:
                for y in dictionary:
                    yy=str(y)
                    di=ast.literal_eval(yy)
                    lit.append(di["name"])
                lista.append(lit)
            elif type(dictionary)==dict :
                lista.append(dictionary["name"])
            else:
                #busqueda discrepancias y errores
                err.append(i)
                lista.append("sin_informacion")

        else:
            lista.append("sin_informacion")
##########print('errores:',err)
df2["productoras"]=pd.Series(lista)

In [55]:
def productoras_exitosas( Productora: str ):
#Se ingresa la productora, entregandote el revunue total y la cantidad de
#peliculas que realizo.
  ganancia=0
  band=False
  cant=0
  for i  in range(len(df2.productoras)):
      if type(df2.productoras[i])==list:
          for j in df2.productoras[i]:
              if j==Productora:
                  band=True
                  ganancia=ganancia+df2.revenue[i]
                  cant=cant+1
      else:
          if df2.productoras[i]==Productora:
              band=True
              ganancia=ganancia+df2.revenue[i]
              cant=cant+1
  if band==False:
      return{' Ingreso incorrecto,Recuerde diferenciar mayuscula y minusculas'}
  else:
      return{' La productora: ':Productora,' revenue_total ':ganancia,'cantidad':str(cant)}

In [58]:
productoras_exitosas('Warner Bros.')

{' La productora: ': 'Warner Bros.',
 ' revenue_total ': 63525187272.0,
 'cantidad': '1250'}

In [59]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45379 entries, 0 to 45378
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  45379 non-null  object
 1   budget                 45379 non-null  float64
 2   id                     45379 non-null  object
 3   original_language      45368 non-null  object
 4   production_companies   45379 non-null  object
 5   production_countries   45379 non-null  object
 6   release_date           45379 non-null  datetime64[ns]
 7   revenue                45379 non-null  float64
 8   runtime                45130 non-null  float64
 9   title                  45376 non-null  object
 10  vote_average           45376 non-null  float64
 11  vote_count             45376 non-null  float64
 12  release_year           45379 non-null  string
 13  return                 45379 non-null  int64
 14  Franquicia_P           45379 non-null  object
 15  paises                 45379 non-null  object
 16  productoras            45379 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(1), object(9), string(1)
memory usage: 5.9+ MB

*csv final para consultas en deploy de api*

In [60]:
df2.drop(['production_companies','production_countries','belongs_to_collection'], axis = 'columns', inplace=True)

In [62]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45379 entries, 0 to 45378
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             45379 non-null  float64
 1   id                 45379 non-null  object
 2   original_language  45368 non-null  object
 3   release_date       45379 non-null  datetime64[ns]
 4   revenue            45379 non-null  float64
 5   runtime            45130 non-null  float64
 6   title              45376 non-null  object
 7   vote_average       45376 non-null  float64
 8   vote_count         45376 non-null  float64
 9   release_year       45379 non-null  string
 10  return             45379 non-null  int64
 11  Franquicia_P       45379 non-null  object
 12  paises             45379 non-null  object
 13  productoras        45379 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(1), object(6), string(1)
memory usage: 4.8+ MB

In [63]:
df2.head(5)

,budget,id,original_language,release_date,revenue,runtime,title,vote_average,vote_count,release_year,return,Franquicia_P,paises,productoras
0,30000000.0,862,en,1995-10-30,373554033.0,81.0,Toy Story,7.7,5415.0,1995,0,Toy Story Collection,United States of America,Pixar Animation Studios
1,65000000.0,8844,en,1995-12-15,262797249.0,104.0,Jumanji,6.9,2413.0,1995,0,sin_franquicia,United States of America,"[TriStar Pictures, Teitler Film, Interscope Co..."
2,0.0,15602,en,1995-12-22,0.0,101.0,Grumpier Old Men,6.5,92.0,1995,0,Grumpy Old Men Collection,United States of America,"[Warner Bros., Lancaster Gate]"
3,16000000.0,31357,en,1995-12-22,81452156.0,127.0,Waiting to Exhale,6.1,34.0,1995,0,sin_franquicia,United States of America,Twentieth Century Fox Film Corporation
4,0.0,11862,en,1995-02-10,76578911.0,106.0,Father of the Bride Part II,5.7,173.0,1995,0,Father of the Bride Collection,United States of America,"[Sandollar Productions, Touchstone Pictures]"

In [64]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45379 entries, 0 to 45378
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             45379 non-null  float64
 1   id                 45379 non-null  object
 2   original_language  45368 non-null  object
 3   release_date       45379 non-null  datetime64[ns]
 4   revenue            45379 non-null  float64
 5   runtime            45130 non-null  float64
 6   title              45376 non-null  object
 7   vote_average       45376 non-null  float64
 8   vote_count         45376 non-null  float64
 9   release_year       45379 non-null  string
 10  return             45379 non-null  int64
 11  Franquicia_P       45379 non-null  object
 12  paises             45379 non-null  object
 13  productoras        45379 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(1), object(6), string(1)
memory usage: 4.8+ MB

In [65]:
df2.to_csv('mov_API_12.csv', index=False)

## **Endpoint :  get_director(director)**

In [66]:
# Archivo completo a analizar"
df1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/csv_12/credits.csv")

In [67]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [68]:
df1.drop(['cast'], axis = 'columns', inplace=True)

In [69]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   crew    45476 non-null  object
 1   id      45476 non-null  int64
dtypes: int64(1), object(1)
memory usage: 710.7+ KB

In [70]:
df1.to_csv('crew_api_12.csv', index=False)

In [71]:
df1.head(3)

                                                crew     id
0  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...    862
1  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...   8844
2  [{'credit_id': '52fe466a9251416c75077a89', 'de...  15602

In [72]:
df1['id'][1]

8844

In [73]:
df1['crew'][1]

"[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'department': 'Production', 'gender': 2, 'id': 511, 'job': 'Executive Producer', 'name': 'Larry J. Franco', 'profile_path': None}, {'credit_id': '52fe44bfc3a36847f80a7c89', 'department': 'Writing', 'gender': 2, 'id': 876, 'job': 'Screenplay', 'name': 'Jonathan Hensleigh', 'profile_path': '/l1c4UFD3g0HVWj5f0CxXAvMAGiT.jpg'}, {'credit_id': '52fe44bfc3a36847f80a7cdd', 'department': 'Sound', 'gender': 2, 'id': 1729, 'job': 'Original Music Composer', 'name': 'James Horner', 'profile_path': '/oLOtXxXsYk8X4qq0ud4xVypXudi.jpg'}, {'credit_id': '52fe44bfc3a36847f80a7c7d', 'department': 'Directing', 'gender': 2, 'id': 4945, 'job': 'Director', 'name': 'Joe Johnston', 'profile_path': '/fok4jaO62v5IP6hkpaaAcXuw2H.jpg'}, {'credit_id': '52fe44bfc3a36847f80a7cd7', 'department': 'Editing', 'gender': 2, 'id': 4951, 'job': 'Editor', 'name': 'Robert Dalva', 'profile_path': None}, {'credit_id': '573523bec3a368025100062c', 'department': 'Production', 'gender': 0, 'id': 4952, 'job': 'Casting', 'name': 'Nancy Foy', 'profile_path': '/blCkmS4dqNsbPGuQfozHE6wgWBw.jpg'}, {'credit_id': '5722a924c3a3682d1e000b41', 'department': 'Visual Effects', 'gender': 0, 'id': 8023, 'job': 'Animation Supervisor', 'name': 'Kyle Balda', 'profile_path': '/jR8iAP6uC0V42KbUG87qBIUO3Hj.jpg'}, {'credit_id': '52fe44c0c3a36847f80a7ce3', 'department': 'Art', 'gender': 2, 'id': 9967, 'job': 'Production Design', 'name': 'James D. Bissell', 'profile_path': None}, {'credit_id': '52fe44bfc3a36847f80a7cb9', 'department': 'Production', 'gender': 2, 'id': 9184, 'job': 'Producer', 'name': 'Scott Kroopf', 'profile_path': None}, {'credit_id': '52fe44bfc3a36847f80a7ccb', 'department': 'Production', 'gender': 2, 'id': 9196, 'job': 'Executive Producer', 'name': 'Ted Field', 'profile_path': '/qmB7sZcgRUq7mRFBSTlSsVXh7sH.jpg'}, {'credit_id': '52fe44bfc3a36847f80a7cc5', 'department': 'Production', 'gender': 2, 'id': 18389, 'job': 'Executive Producer', 'name': 'Robert W. Cort', 'profile_path': None}, {'credit_id': '52fe44bfc3a36847f80a7cbf', 'department': 'Camera', 'gender': 2, 'id': 11371, 'job': 'Director of Photography', 'name': 'Thomas E. Ackerman', 'profile_path': '/xFDbxk53icM1ofL4iCIwB4GkUxN.jpg'}, {'credit_id': '52fe44bfc3a36847f80a7c83', 'department': 'Writing', 'gender': 2, 'id': 42356, 'job': 'Novel', 'name': 'Chris van Allsburg', 'profile_path': None}, {'credit_id': '52fe44bfc3a36847f80a7cb3', 'department': 'Production', 'gender': 2, 'id': 42357, 'job': 'Producer', 'name': 'William Teitler', 'profile_path': None}, {'credit_id': '52fe44bfc3a36847f80a7c8f', 'department': 'Writing', 'gender': 2, 'id': 56520, 'job': 'Screenplay', 'name': 'Greg Taylor', 'profile_path': None}, {'credit_id': '52fe44bfc3a36847f80a7c95', 'department': 'Writing', 'gender': 2, 'id': 56521, 'job': 'Screenplay', 'name': 'Jim Strain', 'profile_path': None}]"

In [74]:

import ast
# initialising string dictionary
dictionary={}
lit=[]
lista=[]
err=[]
for i in range(len(df1)):
    string = df1.crew[i]
    if string=='[]':
         lista.append('sin_informacion')
    else:
        lit=[]
        if  df1.crew[i]!='nan':
            #caracteres a eliminar
            characters = "[]"

            for x in range(len(characters)):
                string = string.replace(characters[x],"")
            #evaluo la cadena resultante
            dictionary = ast.literal_eval(string)
            #asigno tratamiento segun tipo
            if type(dictionary)==tuple:
                for y in dictionary:
                    yy=str(y)
                    di=ast.literal_eval(yy)
                    if di["job"]=='Director':
                        lit.append(di["name"])
                lista.append(lit)

            elif type(dictionary)==dict :
                lista.append(dictionary["name"])
            else:
                #busqueda discrepancias y errores
                err.append(i)
                lista.append("sin_informacion")

        else:
            lista.append("sin_informacion")
##########print('errores:',err)
df1["directores"]=pd.Series(lista)

In [75]:
df1["directores"]

0           [John Lasseter]
1            [Joe Johnston]
2           [Howard Deutch]
3         [Forest Whitaker]
4           [Charles Shyer]
                ...
45471    [Hamid Nematollah]
45472            [Lav Diaz]
45473      [Mark L. Lester]
45474    [Yakov Protazanov]
45475         Daisy Asquith
Name: directores, Length: 45476, dtype: object

In [76]:
df1["directores"][1][0]

'Joe Johnston'

In [77]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   crew        45476 non-null  object
 1   id          45476 non-null  int64
 2   directores  45476 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [78]:
df1.describe(include='all')

         crew             id       directores
count   45476   45476.000000            45476
unique  44669            NaN            20899
top        []            NaN  sin_informacion
freq      771            NaN              771
mean      NaN  108345.997537              NaN
std       NaN  112443.796536              NaN
min       NaN       2.000000              NaN
25%       NaN   26443.250000              NaN
50%       NaN   60002.500000              NaN
75%       NaN  157302.000000              NaN
max       NaN  469172.000000              NaN

In [79]:
df1.drop(['crew'], axis = 'columns', inplace=True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          45476 non-null  int64
 1   directores  45476 non-null  object
dtypes: int64(1), object(1)
memory usage: 710.7+ KB

In [80]:
df1.to_csv("direct_P.csv",encoding='utf-8', index=False)

In [81]:
def get_director( nombre_director:str ):
# Se ingresa el nombre de un director que se encuentre dentro de un dataset
# debiendo devolver el éxito del mismo medido a través del retorno. Además,
# deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno
# individual, costo y ganancia de la misma.

  li=[]
  resu=''
  acum=0

  for i in df1['directores'].index:
      nom_dir=df1['directores'][i]
      for  n in nom_dir:
          if nombre_director == n:
              id_pel_dir=str(df1['id'][i])
              for j in df["id"].index:
                  id_pel=str(df["id"][j])
                  if id_pel_dir==id_pel:
                      tit=df["title"][i]
                      fec=df["release_year"][i]
                      costo=df["budget"][i]
                      ganancia=df['revenue'][i]
                      acum=acum+(ganancia-costo)
                      ret=ganancia-costo
                      resu='director: '+str(nombre_director)+'  retorno_total_director: '+str(acum)+'  pelicula: '+str(tit)+'  anio: '+str(fec)+'  retorno_pelicula: '+str(ret)+'  budget_pelicula: '+str(costo)+' revenue_pelicula: '+str(ganancia)
                      li.append(resu)
  return {'lista':li}

In [82]:
get_director('Forest Whitaker')

{'lista': ['director: Forest Whitaker  retorno_total_director: 65452156.0  pelicula: Waiting to Exhale  anio: 1995  retorno_pelicula: 65452156.0  budget_pelicula: 16000000.0 revenue_pelicula: 81452156.0',
  'director: Forest Whitaker  retorno_total_director: 65452156.0  pelicula: Little Boy Blue  anio: 1997  retorno_pelicula: 0.0  budget_pelicula: 0.0 revenue_pelicula: 0.0',
  'director: Forest Whitaker  retorno_total_director: 91491548.0  pelicula: Shaun of the Dead  anio: 2004  retorno_pelicula: 26039392.0  budget_pelicula: 4000000.0 revenue_pelicula: 30039392.0',
  'director: Forest Whitaker  retorno_total_director: 90941548.0  pelicula: Bulldog Drummond  anio: 1929  retorno_pelicula: -550000.0  budget_pelicula: 550000.0 revenue_pelicula: 0.0']}

In [83]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          45476 non-null  int64
 1   directores  45476 non-null  object
dtypes: int64(1), object(1)
memory usage: 710.7+ KB

In [84]:
df1["id"]=df1["id"].astype('string')

In [85]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          45476 non-null  string
 1   directores  45476 non-null  object
dtypes: object(1), string(1)
memory usage: 710.7+ KB

In [86]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45379 entries, 0 to 45378
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             45379 non-null  float64
 1   id                 45379 non-null  object
 2   original_language  45368 non-null  object
 3   release_date       45379 non-null  datetime64[ns]
 4   revenue            45379 non-null  float64
 5   runtime            45130 non-null  float64
 6   title              45376 non-null  object
 7   vote_average       45376 non-null  float64
 8   vote_count         45376 non-null  float64
 9   release_year       45379 non-null  string
 10  return             45379 non-null  int64
 11  Franquicia_P       45379 non-null  object
 12  paises             45379 non-null  object
 13  productoras        45379 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(1), object(6), string(1)
memory usage: 4.8+ MB

In [87]:
df2["id"]=df2["id"].astype('string')

In [88]:
df2.id.info()

<class 'pandas.core.series.Series'>
RangeIndex: 45379 entries, 0 to 45378
Series name: id
Non-Null Count  Dtype
--------------  -----
45379 non-null  string
dtypes: string(1)
memory usage: 354.6 KB

In [89]:
dft=pd.merge(df1,df2,on='id',how='inner')

In [90]:
dft.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45451 entries, 0 to 45450
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 45451 non-null  string
 1   directores         45451 non-null  object
 2   budget             45451 non-null  float64
 3   original_language  45440 non-null  object
 4   release_date       45451 non-null  datetime64[ns]
 5   revenue            45451 non-null  float64
 6   runtime            45205 non-null  float64
 7   title              45451 non-null  object
 8   vote_average       45451 non-null  float64
 9   vote_count         45451 non-null  float64
 10  release_year       45451 non-null  string
 11  return             45451 non-null  int64
 12  Franquicia_P       45451 non-null  object
 13  paises             45451 non-null  object
 14  productoras        45451 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(1), object(6), string(2)
memory usage: 5.5+ MB

elementos a borrar por errores en tipo de dato e informacion innesesaria en el dataset

In [92]:
#Posible elemento a borrar posiciones: [19714, 29472, 35543]
dft.drop([19714], axis=0, inplace=True)

In [93]:
dft.drop([29472], axis=0, inplace=True)

In [94]:
dft.drop([35543], axis=0, inplace=True)

In [95]:
#Reinicio indices
dft.reset_index(drop=True, inplace=True)
len(dft)

45448

In [96]:
dft.directores.value_counts()

sin_informacion            722
[]                          68
[Michael Curtiz]            61
[John Ford]                 60
[Alfred Hitchcock]          51
                          ...
[Michelle Danner]            1
[Scott W. Mckinlay]          1
[Stacie Passon]              1
[Fernando Barreda Luna]      1
Daisy Asquith                1
Name: directores, Length: 20869, dtype: int64

In [97]:
dft.to_csv('fin_api_12.csv', index=False)

In [98]:
def get_director( nombre_director:str ):
# Se ingresa el nombre de un director que se encuentre dentro de un dataset
# debiendo devolver el éxito del mismo medido a través del retorno. Además,
# deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno
# individual, costo y ganancia de la misma.
  li=[]
  resu=''
  acum=0
  band=True
  for i in range(len(dft.directores)):

      if type(dft.directores[i])==list:
          #nom_dir=dft.directores[i]
          for  n in dft.directores[i]:
              if nombre_director == n:
                  band=True
                  tit=dft["title"][i]
                  fec=dft["release_year"][i]
                  costo=dft["budget"][i]
                  ganancia=dft['revenue'][i]
                  acum=acum+(ganancia-costo)
                  ret=ganancia-costo
                  resu='director: '+str(nombre_director)+'  retorno_total_director: '+str(acum)+'  pelicula: '+str(tit)+'  anio: '+str(fec)+'  retorno_pelicula: '+str(ret)+'  budget_pelicula: '+str(costo)+' revenue_pelicula: '+str(ganancia)
                  li.append(resu)

      else:
          if nombre_director == dft.directores[i]:
                  band=True
                  tit=dft["title"][i]
                  fec=dft["release_year"][i]
                  costo=dft["budget"][i]
                  ganancia=dft['revenue'][i]
                  acum=acum+(ganancia-costo)
                  ret=ganancia-costo
                  resu='director: '+str(nombre_director)+'  retorno_total_director: '+str(acum)+'  pelicula: '+str(tit)+'  anio: '+str(fec)+'  retorno_pelicula: '+str(ret)+'  budget_pelicula: '+str(costo)+' revenue_pelicula: '+str(ganancia)
                  li.append(resu)
  if band==False:
      return{' Ingreso incorrecto,Recuerde diferenciar mayuscula y minusculas'}
  else:
      return{'lista':li}

In [100]:
#get_director('Alfred Hitchcock')#Michelle Danner
get_director('Michelle Danner')

{'lista': ['director: Michelle Danner  retorno_total_director: -1500000.0  pelicula: Hello Herman  anio: 2012  retorno_pelicula: -1500000.0  budget_pelicula: 1500000.0 revenue_pelicula: 0.0',
  'director: Michelle Danner  retorno_total_director: -4500000.0  pelicula: The Bandit Hound  anio: 2016  retorno_pelicula: -3000000.0  budget_pelicula: 3000000.0 revenue_pelicula: 0.0']}

##Endpoint : recomendacion(titulo)

In [101]:

def get_recomend(titulo:str):
    #sobre un subconjunto de filas calculo el modelo teniendo en cuenta disponibilidad de recursos
    movieRatings = dft[0:15000].pivot_table(index=['id'],columns=['title'],values='vote_average')

    titu_df = movieRatings[titulo]

    # Correlamos el resto de peliculas (columnas) con la seleccionada (Jumanji)
    similarMovies = movieRatings.corrwith(titu_df)
    similarMovies = similarMovies.dropna()
    df = pd.DataFrame(similarMovies)

    # Las ordenamos por el valor de score que hemos generado, de forma descendente
    similarMovies.sort_values(ascending=False)

    # agregamos por titulo y devolvemos el
    # numero de veces que se puntuo, y la media de puntuacion
    movieStats = df2[0:15000].groupby('title').agg({'vote_average': [np.size, np.mean]})

    # nos quedamos con todas las que tengan mas de 3 puntuaciones
    # de distintos usuarios
    popularMovies = movieStats['vote_average']['size'] >= 3

    # ordenamos por la puntuación asignada
    movieStats[popularMovies].sort_values([('vote_average', 'mean')], ascending=False)[:15]
    # tambien de esta forma se puede dff=pd.merge(peliculasVotadas[peliculasPopulares],dfff ,how='outer',on='title')
    # hacemos el join
    df = movieStats[popularMovies].join(pd.DataFrame(similarMovies, columns=['similarity']))

    # Ordenamos el dataframe por similaridad, y vemos los primeros 5 resultados
    df.sort_values(['similarity'], ascending=False)[:5]

    dff=df.sort_values(['similarity'], ascending=False)[:5]
    li=[]
    lista=''
    fx=dff.index
    i=0
    for x in fx:
        i=i+1
        lista=lista+x+' , '
        li.append(x)

    dfg=pd.Series(li)


    return {'recomendadas por prioridad descendente':dfg}

In [102]:
get_recomend('Jumanji')

/usr/local/lib/python3.10/dist-packages/numpy/lib/function_base.py:2821: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/usr/local/lib/python3.10/dist-packages/numpy/lib/function_base.py:2680: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)
<ipython-input-101-b512aefa2282>:27: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (2 levels on the left, 1 on the right)
  df = movieStats[popularMovies].join(pd.DataFrame(similarMovies, columns=['similarity']))

{'recomendadas por prioridad descendente': 0      A Christmas Carol
 1         A Star Is Born
 2                  Alice
 3    Alice in Wonderland
 4                 Asylum
 dtype: object}